# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
/.recommenders/
MQTT_Project_CPP/MQTT_Project_CPP.sln
MQTT_Project_CPP/.vs/MQTT_Project_CPP/v15/ipch/AutoPCH/51db4546082c58d2/MAIN.ipch
MQTT_Project_CPP/.vs/MQTT_Project_CPP/v15/Browse.VC.opendb
MQTT_Project_CPP/.vs/MQTT_Project_CPP/v15/Browse.VC.db
MQTT_Project_CPP/.vs/MQTT_Project_CPP/v15/.suo
MQTT_Project_CPP/MQTT_Project_CPP/MQTT_Project_CPP.vcxproj.user
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/ArchOptions.gif
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/ChangeRemote.gif
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/debuggerexport.png
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/firstconnection.png
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/linker.png
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/ManageConnections.gif
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/OutputTypes.gif
MQTT_Project_CPP/MQTT_Project_CPP/readme/images/postbuild.png
MQTT_Project_CPP/MQTT_Project_CPP/readme/readme.html
MQTT_Project_CPP/MQTT_Project_CPP/readme/stylesheet.css
